APP_NAME=SlasherAPI
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost:8000

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=slasher_api
DB_USERNAME=root
DB_PASSWORD=

FILESYSTEM_DISK=public
